.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Montserrat', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn-box {
  padding: 2rem;
}
.btn-box button{
  padding: 0.5rem;
  width: 10rem;
  height: 3rem;
  background-color: #4ECCA3;
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: 'Indie Flower', cursive;
  border-radius: 10px;
  border: 2px solid black;
}

.btn-box button:hover {
  opacity: 0.8;
  border: 2px solid white;
}


